In [1]:
import os
import sqlite3

In [3]:
!ls

DBwithPython.ipynb

In [4]:
# First we'll have to create a DB

In [5]:
# we'll have to create a connection with respective database

In [6]:
# we use the conn_obj for executing any query on the DB

In [7]:
# creting a connection ( connObject )
# connObj = sqlite3.connect("DB_Name")

In [8]:
conn=sqlite3.connect("cars.db")

In [9]:
!ls

DBwithPython.ipynb
cars.db

In [22]:
!dir

 Volume in drive C has no label.
 Volume Serial Number is 9A70-F311

 Directory of C:\Users\User\Desktop\Mizuho\Programs\Session-29-DB

28-May-20  07:17 AM    <DIR>          .
28-May-20  07:17 AM    <DIR>          ..
28-May-20  06:55 AM    <DIR>          .ipynb_checkpoints
28-May-20  07:15 AM             8,192 cars.db
28-May-20  07:17 AM             5,541 DBwithPython.ipynb
               2 File(s)         13,733 bytes
               3 Dir(s)  16,882,913,280 bytes free

In [10]:
conn

In [11]:
# create table
# table - "car" to store simple info about them
# https://www.w3schools.com/sql/sql_create_table.asp

In [ ]:
"""CREATE TABLE table_name (
    column1 datatype,
    column2 datatype,
    column3 datatype,
   ....
); """

In [12]:
create_table_qry="""CREATE TABLE car (
    carid text,
    carmake text,
    carmodel text,
    caryear int
); """

In [13]:
# execute the query
# use the conn obj to execute all Queris on db

# conn.execute(sql_query)

In [14]:
conn.execute(create_table_qry)

In [15]:
# always commit to the DDL changes, make sure of it befre commiting
conn.commit()

In [16]:
# Insert some values into the DataBase/Table
# https://www.w3schools.com/sql/sql_insert.asp

In [ ]:
INSERT INTO table_name (column1, column2, column3, ...)
VALUES (value1, value2, value3, ...);

In [18]:
insert_qry="""
INSERT INTO car (carid, carmake, carmodel, caryear)
VALUES ('1111-11', 'Ambassador','A/C', "2000"); 
"""

In [19]:
conn.execute(insert_qry)

In [20]:
conn.commit()

In [21]:
# Insert Many values into dataBase

In [29]:
rows=[
('99-1968',"Maruti","Suzuki800",1980),
('11-1234',"Toyota","Innova",2010),
('11-99-11',"Audi","A4",2018)
]

In [28]:
#dict(rows)

In [30]:
# we follow a diff syntax for executing many rows at once
# instead of using conn.execute, we use, conn.executemany

In [31]:
insrt_mny_qry="""
INSERT INTO CAR 
VALUES(?,?,?,?);
"""

In [32]:
conn.executemany(insrt_mny_qry,rows)

In [33]:
conn.commit()

In [34]:
# Selecting / retrieving the data from a Table

In [35]:
# use select queries
# https://www.w3schools.com/sql/sql_select.asp

In [36]:
select_qry="select * from car"

In [37]:
data=conn.execute(select_qry)

In [38]:
data

In [39]:
for row in data:
    print(row)

('1111-11', 'Ambassador', 'A/C', 2000)
('99-1968', 'Maruti', 'Suzuki800', 1980)
('11-1234', 'Toyota', 'Innova', 2010)
('11-99-11', 'Audi', 'A4', 2018)

In [40]:
for row in conn.execute("Select carid from car"):
    print(row)

('1111-11',)
('99-1968',)
('11-1234',)
('11-99-11',)

In [ ]:
"""for row in conn.execute(%s):
    print(row)"""%s()